@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 210 8% 5%;

    --card: 0 0% 98%;
    --card-foreground: 210 8% 5%;

    --popover: 0 0% 98%;
    --popover-foreground: 210 8% 5%;

    --primary: 209 80% 44%;
    --primary-foreground: 0 0% 98%;

    --secondary: 210 7% 94%;
    --secondary-foreground: 210 8% 5%;

    --muted: 210 7% 94%;
    --muted-foreground: 210 6% 45%;

    --accent: 210 7% 94%;
    --accent-foreground: 210 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 6% 90%;
    --input: 204 6% 83%;
    --ring: 209 24% 75%;

    --radius: 0.5rem;
  }

  .dark,
  :root[class~="dark"] {
    --background: 240 7% 8%;
    --foreground: 180 9% 98%;

    --card: 240 6% 10%;
    --card-foreground: 180 9% 98%;

    --popover: 240 6% 10%;
    --popover-foreground: 180 9% 98%;

    --primary: 238 78% 55%;
    --primary-foreground: 180 9% 98%;

    --secondary: 240 8% 19%;
    --secondary-foreground: 180 9% 98%;

    --muted: 240 7% 29%;
    --muted-foreground: 237 8% 49%;

    --accent: 238 71% 19%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 8% 12%;
    --input: 240 9% 18%;
    --ring: 238 78% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
